* {
    padding: 0;
    margin: 0;
}

.layout {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    width: 1010px;
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    background-color: #ee5351;
    height: 82px;
    display: flex;
    border-radius: 4px;
    width: 100%;
    margin: 2px 1px;
    align-items: center;
    justify-content: flex-end;
}

.item {
    margin-right: 20px;
}

.ratio-1 {
    flex: 1;
}

.ratio-2 {
    flex: 2;
}

.ratio-3 {
    flex: 3;
}

.ratio-4 {
    flex: 4;
}

.ratio-5 {
    flex: 5;
}

.ratio-6 {
    flex: 6;
}

.ratio-7 {
    flex: 7;
}

.ratio-8 {
    flex: 8;
}

.ratio-9 {
    flex: 9;
}

.ratio-10 {
    flex: 10;
}

.ratio-11 {
    flex: 11;
}

.ratio-12 {
    flex: 12;
}